/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #eef5fe;
}

/* Pre CSS */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}

.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #05638fde;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.sidebar.close {
  width: calc(55px + 20px);
}

.logo_items {
  gap: 8px;
}

.logo_name {
  font-size: 17px;
  color: #ffffff;
  font-weight: 500px;
  transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}

#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}

#sidebar-close {
  display: none;
  color: #333;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  overflow-y: auto;
  height: calc(100% - 82px);
  color: #ccc9c9;
}

.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.sidebar.close .title {
  opacity: 0;
}

.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #5a5555;
  transition: all 0.3s ease;
}

.menu_title .line {
  opacity: 0;
}

.sidebar.close .line {
  opacity: 1;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #fff8f8;
}

.link:hover {
  color: #fff;
  background-color: #4070f4;
}

.link span {
  white-space: nowrap;
  font-size: 15px;
}

.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgb(112, 107, 107);
}

.sidebar_profile .name {
  font-size: 18px;
  color: #ffffff;
}

.sidebar_profile .email {
  font-size: 15px;
  color: #fff1f1;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }

  .sidebar.close {
    left: -100%;
  }

  #sidebar-close {
    display: block;
  }

  #lock-icon {
    display: none;
  }

  #sidebar-open {
    display: block;
  }
}

body h1 {
  position: absolute;
  top: 5%;
  left: 39%;
  color: #0e3a8be7;
  font-size: 90px;
  text-align: center;
}
.page {
  position: absolute;
  top: 30%;
  left: 39%;
  color: #0e3a8be7;
  font-size: 30px;
  text-align: center;
}

.font-Li{
    font-family: "Bayon", serif;
    font-size: 30px;
}
.fontDas{
    font-family: "Bokor", serif;
    font-size: 15px;
}
.font-p{
    font-family: "Bayon", serif;
    font-size: 15px;
}
.font-pDas{
    font-family: "Bokor", serif;
    font-size: 20px;
}
.font-index{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}